*{
  padding:0;
  margin:0;
}
.photo{
  height:200px;
  width:200px;
  border-radius:50%;
  margin-top:30px;
  margin-left:150px; 
}
.button{
  text-align: center;
  margin-top: 20px;
}
.part1{
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.part1 h6{
  margin-bottom: 20px;
}
.part2{
  /*margin-left:640px;*/
  margin-left: 200px;
  margin-bottom:30px ;
  margin-top:-50px;
}
.part2 button{
  margin-left:20px;
}
.part3 {
  border-top: solid 1px gray;
}
.part31{
  display:flex;
  justify-content:space-around;
}
.part41{
  display:flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}
.part42{
  display:flex;
  justify-content: space-around;
}
.navbar{
  display:flex;
  justify-content:space-around;
}